body{
    background: orange;
}

div{
    height: 150px;
    width: 80%;
    margin: 10%;
    display: inline-block;
    background: white;
}

@media screen and (min-width: 480px){
    body{
        background: green;
    }
}

@media screen and (min-width: 767px){
    body{
        background: blue;
    }
    div{
        width: 40%;
        margin: 4%;
    }

}

@media screen and (min-width: 950px){
    body{
        background: red;
    }
    div{
        width: 28%;
        margin: 2%;
    }
}