header {
  width: 100%;
  height: 200px;
  background: linear-gradient(top, #000 0%, #fff 100%);
  /*Safari 5.1, Chrome 10+*/
  background: -webkit-linear-gradient(top, #000 0%, #fff 100%);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #000 0%, #fff 100%);
  /* IE 6 - 9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=0 );
  /* IE 10+ */
  background: -ms-linear-gradient(top, #000 0%, #fff 100%);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #000 0%, #fff 100%);

  /*Prefijos para navegador, permite que ciertas propiedades de CSS se reproduzcan en los diferentes 
  navegadores. Revisar https://caniuse.com/ para comprobar. Algunos prefijos:

  -webkit- 	Google Chrome, Safari, Navegador Android
  -moz- 		Firefox
  -o- 		Opera
  -ms- 		Internet Explorer, Edge
  -khtml- 	Konqueror*/
}

header h2, 
h3{
    color: red;
} /*se puede agregar un estilo a diferentes partes solo usando ,*/

p{
  color: magenta;
}

p#azul{
  color: blue;
} /*agrega propiedades a un elemento especifico con id. Se usa # para id*/

.prueba{
  color: orange;
} /*agrega propiedades a los elementos class. Se usa . para class*/

.grande{
  font-size: 20px;
}

p + p{
  font-weight: bolder;
} /*añade propiedades a todos los elementos adyacentes o en este caso a todos los elementos p que 
antes tengan un elemento p*/

div > p{
  color: green;
} /*añade características a todos los elementos "hijo" o en este caso a todos los elementos p que 
se encuentran dentro de un div y no dentro del article*/

p ~ p{
  font-style: oblique;
} /*añade caracteristica a todos los elementos "hermano menor" o en este caso a todos los elementos
p que comparten nivel con otro p y se encuentran en una jerarquia menor*/